poliAsistenciaWeb/src/conf/xml-resources/web-service-references/profesor/wsdl/localhost_8080/serviciosWebPoliAsistencia/profesor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="profesor">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/serviciosWebPoliAsistencia/profesor?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/serviciosWebPoliAsistencia/profesor?xsd=2"/>
</xsd:schema>
</types>
<message name="unidades">
<part name="parameters" element="tns:unidades"/>
</message>
<message name="unidadesResponse">
<part name="parameters" element="tns:unidadesResponse"/>
</message>
<message name="horarioProfesor">
<part name="parameters" element="tns:horarioProfesor"/>
</message>
<message name="horarioProfesorResponse">
<part name="parameters" element="tns:horarioProfesorResponse"/>
</message>
<message name="asistenciaUnidadDia">
<part name="parameters" element="tns:asistenciaUnidadDia"/>
</message>
<message name="asistenciaUnidadDiaResponse">
<part name="parameters" element="tns:asistenciaUnidadDiaResponse"/>
</message>
<message name="obtenerHorarioDiaProfesor">
<part name="parameters" element="tns:obtenerHorarioDiaProfesor"/>
</message>
<message name="obtenerHorarioDiaProfesorResponse">
<part name="parameters" element="tns:obtenerHorarioDiaProfesorResponse"/>
</message>
<message name="informacionUnidad">
<part name="parameters" element="tns:informacionUnidad"/>
</message>
<message name="informacionUnidadResponse">
<part name="parameters" element="tns:informacionUnidadResponse"/>
</message>
<message name="asistenciaUnidasMes">
<part name="parameters" element="tns:asistenciaUnidasMes"/>
</message>
<message name="asistenciaUnidasMesResponse">
<part name="parameters" element="tns:asistenciaUnidasMesResponse"/>
</message>
<message name="asistenciaInd">
<part name="parameters" element="tns:asistenciaInd"/>
</message>
<message name="asistenciaIndResponse">
<part name="parameters" element="tns:asistenciaIndResponse"/>
</message>
<portType name="profesor">
<operation name="unidades">
<input wsam:Action="http://servicios/profesor/unidadesRequest" message="tns:unidades"/>
<output wsam:Action="http://servicios/profesor/unidadesResponse" message="tns:unidadesResponse"/>
</operation>
<operation name="horarioProfesor">
<input wsam:Action="http://servicios/profesor/horarioProfesorRequest" message="tns:horarioProfesor"/>
<output wsam:Action="http://servicios/profesor/horarioProfesorResponse" message="tns:horarioProfesorResponse"/>
</operation>
<operation name="asistenciaUnidadDia">
<input wsam:Action="http://servicios/profesor/asistenciaUnidadDiaRequest" message="tns:asistenciaUnidadDia"/>
<output wsam:Action="http://servicios/profesor/asistenciaUnidadDiaResponse" message="tns:asistenciaUnidadDiaResponse"/>
</operation>
<operation name="obtenerHorarioDiaProfesor">
<input wsam:Action="http://servicios/profesor/obtenerHorarioDiaProfesorRequest" message="tns:obtenerHorarioDiaProfesor"/>
<output wsam:Action="http://servicios/profesor/obtenerHorarioDiaProfesorResponse" message="tns:obtenerHorarioDiaProfesorResponse"/>
</operation>
<operation name="informacionUnidad">
<input wsam:Action="http://servicios/profesor/informacionUnidadRequest" message="tns:informacionUnidad"/>
<output wsam:Action="http://servicios/profesor/informacionUnidadResponse" message="tns:informacionUnidadResponse"/>
</operation>
<operation name="asistenciaUnidasMes">
<input wsam:Action="http://servicios/profesor/asistenciaUnidasMesRequest" message="tns:asistenciaUnidasMes"/>
<output wsam:Action="http://servicios/profesor/asistenciaUnidasMesResponse" message="tns:asistenciaUnidasMesResponse"/>
</operation>
<operation name="asistenciaInd">
<input wsam:Action="http://servicios/profesor/asistenciaIndRequest" message="tns:asistenciaInd"/>
<output wsam:Action="http://servicios/profesor/asistenciaIndResponse" message="tns:asistenciaIndResponse"/>
</operation>
</portType>
<binding name="profesorPortBinding" type="tns:profesor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="unidades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="horarioProfesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="asistenciaUnidadDia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerHorarioDiaProfesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="informacionUnidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="asistenciaUnidasMes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="asistenciaInd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="profesor">
<port name="profesorPort" binding="tns:profesorPortBinding">
<soap:address location="http://localhost:8080/serviciosWebPoliAsistencia/profesor"/>
</port>
</service>
</definitions>