poliAsistenciaWeb/src/conf/xml-resources/web-service-references/alumno/wsdl/localhost_8080/serviciosWebPoliAsistencia/alumno.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/serviciosWebPoliAsistencia/alumno?xsd=2"/>

<xs:element name="asistenciaInd" type="tns:asistenciaInd"/>

<xs:element name="asistenciaIndResponse" type="tns:asistenciaIndResponse"/>

<xs:element name="graficaGeneralAndroid" type="tns:graficaGeneralAndroid"/>

<xs:element name="graficaGeneralAndroidResponse" type="tns:graficaGeneralAndroidResponse"/>

<xs:element name="horarioAlumno" type="tns:horarioAlumno"/>

<xs:element name="horarioAlumnoResponse" type="tns:horarioAlumnoResponse"/>

<xs:element name="horarioAndroidAlumno" type="tns:horarioAndroidAlumno"/>

<xs:element name="horarioAndroidAlumnoResponse" type="tns:horarioAndroidAlumnoResponse"/>

<xs:element name="obtenerHorarioDia" type="tns:obtenerHorarioDia"/>

<xs:element name="obtenerHorarioDiaAndroid" type="tns:obtenerHorarioDiaAndroid"/>

<xs:element name="obtenerHorarioDiaAndroidResponse" type="tns:obtenerHorarioDiaAndroidResponse"/>

<xs:element name="obtenerHorarioDiaResponse" type="tns:obtenerHorarioDiaResponse"/>

<xs:element name="obtenerNotificaciones" type="tns:obtenerNotificaciones"/>

<xs:element name="obtenerNotificacionesResponse" type="tns:obtenerNotificacionesResponse"/>

<xs:complexType name="obtenerNotificaciones">
<xs:sequence>
<xs:element name="tipoNotificacion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerNotificacionesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="horarioAlumno">
<xs:sequence>
<xs:element name="idPer" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="horarioAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="ns1:stringArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="horarioAndroidAlumno">
<xs:sequence>
<xs:element name="numero" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="horarioAndroidAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerHorarioDia">
<xs:sequence>
<xs:element name="boleta" type="xs:string" minOccurs="0"/>
<xs:element name="diaSemana" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerHorarioDiaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="asistenciaInd">
<xs:sequence>
<xs:element name="idPer" type="xs:string" minOccurs="0"/>
<xs:element name="mes" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="asistenciaIndResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerHorarioDiaAndroid">
<xs:sequence>
<xs:element name="boleta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerHorarioDiaAndroidResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="graficaGeneralAndroid">
<xs:sequence>
<xs:element name="idPer" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="graficaGeneralAndroidResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>