poliAsistenciaWeb/src/conf/xml-resources/web-service-references/usuario/wsdl/localhost_8080/serviciosWebPoliAsistencia/usuario.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="usuario">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/serviciosWebPoliAsistencia/usuario?xsd=1"/>
</xsd:schema>
</types>
<message name="validarUsuarioAndroid">
<part name="parameters" element="tns:validarUsuarioAndroid"/>
</message>
<message name="validarUsuarioAndroidResponse">
<part name="parameters" element="tns:validarUsuarioAndroidResponse"/>
</message>
<message name="datosJefeAcademia">
<part name="parameters" element="tns:datosJefeAcademia"/>
</message>
<message name="datosJefeAcademiaResponse">
<part name="parameters" element="tns:datosJefeAcademiaResponse"/>
</message>
<message name="cambioContrasena">
<part name="parameters" element="tns:cambioContrasena"/>
</message>
<message name="cambioContrasenaResponse">
<part name="parameters" element="tns:cambioContrasenaResponse"/>
</message>
<message name="datosAlumno">
<part name="parameters" element="tns:datosAlumno"/>
</message>
<message name="datosAlumnoResponse">
<part name="parameters" element="tns:datosAlumnoResponse"/>
</message>
<message name="validarUsuario">
<part name="parameters" element="tns:validarUsuario"/>
</message>
<message name="validarUsuarioResponse">
<part name="parameters" element="tns:validarUsuarioResponse"/>
</message>
<message name="datosProfesor">
<part name="parameters" element="tns:datosProfesor"/>
</message>
<message name="datosProfesorResponse">
<part name="parameters" element="tns:datosProfesorResponse"/>
</message>
<message name="traerUrl">
<part name="parameters" element="tns:traerUrl"/>
</message>
<message name="traerUrlResponse">
<part name="parameters" element="tns:traerUrlResponse"/>
</message>
<message name="datosGestion">
<part name="parameters" element="tns:datosGestion"/>
</message>
<message name="datosGestionResponse">
<part name="parameters" element="tns:datosGestionResponse"/>
</message>
<message name="guardarCorreo">
<part name="parameters" element="tns:guardarCorreo"/>
</message>
<message name="guardarCorreoResponse">
<part name="parameters" element="tns:guardarCorreoResponse"/>
</message>
<message name="traerCorreo">
<part name="parameters" element="tns:traerCorreo"/>
</message>
<message name="traerCorreoResponse">
<part name="parameters" element="tns:traerCorreoResponse"/>
</message>
<message name="guardarUrl">
<part name="parameters" element="tns:guardarUrl"/>
</message>
<message name="guardarUrlResponse">
<part name="parameters" element="tns:guardarUrlResponse"/>
</message>
<portType name="usuario">
<operation name="validarUsuarioAndroid">
<input wsam:Action="http://servicios/usuario/validarUsuarioAndroidRequest" message="tns:validarUsuarioAndroid"/>
<output wsam:Action="http://servicios/usuario/validarUsuarioAndroidResponse" message="tns:validarUsuarioAndroidResponse"/>
</operation>
<operation name="datosJefeAcademia">
<input wsam:Action="http://servicios/usuario/datosJefeAcademiaRequest" message="tns:datosJefeAcademia"/>
<output wsam:Action="http://servicios/usuario/datosJefeAcademiaResponse" message="tns:datosJefeAcademiaResponse"/>
</operation>
<operation name="cambioContrasena">
<input wsam:Action="http://servicios/usuario/cambioContrasenaRequest" message="tns:cambioContrasena"/>
<output wsam:Action="http://servicios/usuario/cambioContrasenaResponse" message="tns:cambioContrasenaResponse"/>
</operation>
<operation name="datosAlumno">
<input wsam:Action="http://servicios/usuario/datosAlumnoRequest" message="tns:datosAlumno"/>
<output wsam:Action="http://servicios/usuario/datosAlumnoResponse" message="tns:datosAlumnoResponse"/>
</operation>
<operation name="validarUsuario">
<input wsam:Action="http://servicios/usuario/validarUsuarioRequest" message="tns:validarUsuario"/>
<output wsam:Action="http://servicios/usuario/validarUsuarioResponse" message="tns:validarUsuarioResponse"/>
</operation>
<operation name="datosProfesor">
<input wsam:Action="http://servicios/usuario/datosProfesorRequest" message="tns:datosProfesor"/>
<output wsam:Action="http://servicios/usuario/datosProfesorResponse" message="tns:datosProfesorResponse"/>
</operation>
<operation name="traerUrl">
<input wsam:Action="http://servicios/usuario/traerUrlRequest" message="tns:traerUrl"/>
<output wsam:Action="http://servicios/usuario/traerUrlResponse" message="tns:traerUrlResponse"/>
</operation>
<operation name="datosGestion">
<input wsam:Action="http://servicios/usuario/datosGestionRequest" message="tns:datosGestion"/>
<output wsam:Action="http://servicios/usuario/datosGestionResponse" message="tns:datosGestionResponse"/>
</operation>
<operation name="guardarCorreo">
<input wsam:Action="http://servicios/usuario/guardarCorreoRequest" message="tns:guardarCorreo"/>
<output wsam:Action="http://servicios/usuario/guardarCorreoResponse" message="tns:guardarCorreoResponse"/>
</operation>
<operation name="traerCorreo">
<input wsam:Action="http://servicios/usuario/traerCorreoRequest" message="tns:traerCorreo"/>
<output wsam:Action="http://servicios/usuario/traerCorreoResponse" message="tns:traerCorreoResponse"/>
</operation>
<operation name="guardarUrl">
<input wsam:Action="http://servicios/usuario/guardarUrlRequest" message="tns:guardarUrl"/>
<output wsam:Action="http://servicios/usuario/guardarUrlResponse" message="tns:guardarUrlResponse"/>
</operation>
</portType>
<binding name="usuarioPortBinding" type="tns:usuario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="validarUsuarioAndroid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="datosJefeAcademia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambioContrasena">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="datosAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="datosProfesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerUrl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="datosGestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarCorreo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerCorreo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarUrl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="usuario">
<port name="usuarioPort" binding="tns:usuarioPortBinding">
<soap:address location="http://localhost:8080/serviciosWebPoliAsistencia/usuario"/>
</port>
</service>
</definitions>