poliAsistenciaWeb/src/conf/xml-resources/web-service-references/gestion/wsdl/localhost_8080/serviciosWebPoliAsistencia/gestion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="gestion">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/serviciosWebPoliAsistencia/gestion?xsd=1"/>
</xsd:schema>
</types>
<message name="grupos">
<part name="parameters" element="tns:grupos"/>
</message>
<message name="gruposResponse">
<part name="parameters" element="tns:gruposResponse"/>
</message>
<message name="alumnos">
<part name="parameters" element="tns:alumnos"/>
</message>
<message name="alumnosResponse">
<part name="parameters" element="tns:alumnosResponse"/>
</message>
<message name="asistenciaGrupoMes">
<part name="parameters" element="tns:asistenciaGrupoMes"/>
</message>
<message name="asistenciaGrupoMesResponse">
<part name="parameters" element="tns:asistenciaGrupoMesResponse"/>
</message>
<message name="datosGrupoEspecifico">
<part name="parameters" element="tns:datosGrupoEspecifico"/>
</message>
<message name="datosGrupoEspecificoResponse">
<part name="parameters" element="tns:datosGrupoEspecificoResponse"/>
</message>
<message name="obtenerNotificaciones">
<part name="parameters" element="tns:obtenerNotificaciones"/>
</message>
<message name="obtenerNotificacionesResponse">
<part name="parameters" element="tns:obtenerNotificacionesResponse"/>
</message>
<message name="asistenciaTurnoPorDia">
<part name="parameters" element="tns:asistenciaTurnoPorDia"/>
</message>
<message name="asistenciaTurnoPorDiaResponse">
<part name="parameters" element="tns:asistenciaTurnoPorDiaResponse"/>
</message>
<message name="guardarNotificaciones">
<part name="parameters" element="tns:guardarNotificaciones"/>
</message>
<message name="guardarNotificacionesResponse">
<part name="parameters" element="tns:guardarNotificacionesResponse"/>
</message>
<message name="asistenciaGrupoDia">
<part name="parameters" element="tns:asistenciaGrupoDia"/>
</message>
<message name="asistenciaGrupoDiaResponse">
<part name="parameters" element="tns:asistenciaGrupoDiaResponse"/>
</message>
<message name="obtenerNotificacionEspecifica">
<part name="parameters" element="tns:obtenerNotificacionEspecifica"/>
</message>
<message name="obtenerNotificacionEspecificaResponse">
<part name="parameters" element="tns:obtenerNotificacionEspecificaResponse"/>
</message>
<message name="asistenciaTurnoMes">
<part name="parameters" element="tns:asistenciaTurnoMes"/>
</message>
<message name="asistenciaTurnoMesResponse">
<part name="parameters" element="tns:asistenciaTurnoMesResponse"/>
</message>
<message name="asistenciaTurnoPorDiaMas">
<part name="parameters" element="tns:asistenciaTurnoPorDiaMas"/>
</message>
<message name="asistenciaTurnoPorDiaMasResponse">
<part name="parameters" element="tns:asistenciaTurnoPorDiaMasResponse"/>
</message>
<message name="borrarNotificaciones">
<part name="parameters" element="tns:borrarNotificaciones"/>
</message>
<message name="borrarNotificacionesResponse">
<part name="parameters" element="tns:borrarNotificacionesResponse"/>
</message>
<portType name="gestion">
<operation name="grupos">
<input wsam:Action="http://servicios/gestion/gruposRequest" message="tns:grupos"/>
<output wsam:Action="http://servicios/gestion/gruposResponse" message="tns:gruposResponse"/>
</operation>
<operation name="alumnos">
<input wsam:Action="http://servicios/gestion/alumnosRequest" message="tns:alumnos"/>
<output wsam:Action="http://servicios/gestion/alumnosResponse" message="tns:alumnosResponse"/>
</operation>
<operation name="asistenciaGrupoMes">
<input wsam:Action="http://servicios/gestion/asistenciaGrupoMesRequest" message="tns:asistenciaGrupoMes"/>
<output wsam:Action="http://servicios/gestion/asistenciaGrupoMesResponse" message="tns:asistenciaGrupoMesResponse"/>
</operation>
<operation name="datosGrupoEspecifico">
<input wsam:Action="http://servicios/gestion/datosGrupoEspecificoRequest" message="tns:datosGrupoEspecifico"/>
<output wsam:Action="http://servicios/gestion/datosGrupoEspecificoResponse" message="tns:datosGrupoEspecificoResponse"/>
</operation>
<operation name="obtenerNotificaciones">
<input wsam:Action="http://servicios/gestion/obtenerNotificacionesRequest" message="tns:obtenerNotificaciones"/>
<output wsam:Action="http://servicios/gestion/obtenerNotificacionesResponse" message="tns:obtenerNotificacionesResponse"/>
</operation>
<operation name="asistenciaTurnoPorDia">
<input wsam:Action="http://servicios/gestion/asistenciaTurnoPorDiaRequest" message="tns:asistenciaTurnoPorDia"/>
<output wsam:Action="http://servicios/gestion/asistenciaTurnoPorDiaResponse" message="tns:asistenciaTurnoPorDiaResponse"/>
</operation>
<operation name="guardarNotificaciones">
<input wsam:Action="http://servicios/gestion/guardarNotificacionesRequest" message="tns:guardarNotificaciones"/>
<output wsam:Action="http://servicios/gestion/guardarNotificacionesResponse" message="tns:guardarNotificacionesResponse"/>
</operation>
<operation name="asistenciaGrupoDia">
<input wsam:Action="http://servicios/gestion/asistenciaGrupoDiaRequest" message="tns:asistenciaGrupoDia"/>
<output wsam:Action="http://servicios/gestion/asistenciaGrupoDiaResponse" message="tns:asistenciaGrupoDiaResponse"/>
</operation>
<operation name="obtenerNotificacionEspecifica">
<input wsam:Action="http://servicios/gestion/obtenerNotificacionEspecificaRequest" message="tns:obtenerNotificacionEspecifica"/>
<output wsam:Action="http://servicios/gestion/obtenerNotificacionEspecificaResponse" message="tns:obtenerNotificacionEspecificaResponse"/>
</operation>
<operation name="asistenciaTurnoMes">
<input wsam:Action="http://servicios/gestion/asistenciaTurnoMesRequest" message="tns:asistenciaTurnoMes"/>
<output wsam:Action="http://servicios/gestion/asistenciaTurnoMesResponse" message="tns:asistenciaTurnoMesResponse"/>
</operation>
<operation name="asistenciaTurnoPorDiaMas">
<input wsam:Action="http://servicios/gestion/asistenciaTurnoPorDiaMasRequest" message="tns:asistenciaTurnoPorDiaMas"/>
<output wsam:Action="http://servicios/gestion/asistenciaTurnoPorDiaMasResponse" message="tns:asistenciaTurnoPorDiaMasResponse"/>
</operation>
<operation name="borrarNotificaciones">
<input wsam:Action="http://servicios/gestion/borrarNotificacionesRequest" message="tns:borrarNotificaciones"/>
<output wsam:Action="http://servicios/gestion/borrarNotificacionesResponse" message="tns:borrarNotificacionesResponse"/>
</operation>
</portType>
<binding name="gestionPortBinding" type="tns:gestion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="grupos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="alumnos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="asistenciaGrupoMes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="datosGrupoEspecifico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNotificaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="asistenciaTurnoPorDia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarNotificaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="asistenciaGrupoDia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNotificacionEspecifica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="asistenciaTurnoMes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="asistenciaTurnoPorDiaMas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="borrarNotificaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="gestion">
<port name="gestionPort" binding="tns:gestionPortBinding">
<soap:address location="http://localhost:8080/serviciosWebPoliAsistencia/gestion"/>
</port>
</service>
</definitions>