poliAsistenciaWeb/src/conf/xml-resources/web-service-references/mails/wsdl/localhost_8080/serviciosWebPoliAsistencia/mails.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="mails">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/serviciosWebPoliAsistencia/mails?xsd=1"/>
</xsd:schema>
</types>
<message name="mandaMAils">
<part name="parameters" element="tns:mandaMAils"/>
</message>
<message name="mandaMAilsResponse">
<part name="parameters" element="tns:mandaMAilsResponse"/>
</message>
<message name="mandaMAil">
<part name="parameters" element="tns:mandaMAil"/>
</message>
<message name="mandaMAilResponse">
<part name="parameters" element="tns:mandaMAilResponse"/>
</message>
<message name="baseMail">
<part name="parameters" element="tns:baseMail"/>
</message>
<message name="baseMailResponse">
<part name="parameters" element="tns:baseMailResponse"/>
</message>
<message name="validarCodigo">
<part name="parameters" element="tns:validarCodigo"/>
</message>
<message name="validarCodigoResponse">
<part name="parameters" element="tns:validarCodigoResponse"/>
</message>
<message name="recuperarContra">
<part name="parameters" element="tns:recuperarContra"/>
</message>
<message name="recuperarContraResponse">
<part name="parameters" element="tns:recuperarContraResponse"/>
</message>
<message name="descifra">
<part name="parameters" element="tns:descifra"/>
</message>
<message name="descifraResponse">
<part name="parameters" element="tns:descifraResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="cifra">
<part name="parameters" element="tns:cifra"/>
</message>
<message name="cifraResponse">
<part name="parameters" element="tns:cifraResponse"/>
</message>
<message name="validarCuenta">
<part name="parameters" element="tns:validarCuenta"/>
</message>
<message name="validarCuentaResponse">
<part name="parameters" element="tns:validarCuentaResponse"/>
</message>
<portType name="enviaMails">
<operation name="mandaMAils">
<input wsam:Action="http://servicios/enviaMails/mandaMAilsRequest" message="tns:mandaMAils"/>
<output wsam:Action="http://servicios/enviaMails/mandaMAilsResponse" message="tns:mandaMAilsResponse"/>
</operation>
<operation name="mandaMAil">
<input wsam:Action="http://servicios/enviaMails/mandaMAilRequest" message="tns:mandaMAil"/>
<output wsam:Action="http://servicios/enviaMails/mandaMAilResponse" message="tns:mandaMAilResponse"/>
</operation>
<operation name="baseMail">
<input wsam:Action="http://servicios/enviaMails/baseMailRequest" message="tns:baseMail"/>
<output wsam:Action="http://servicios/enviaMails/baseMailResponse" message="tns:baseMailResponse"/>
</operation>
<operation name="validarCodigo">
<input wsam:Action="http://servicios/enviaMails/validarCodigoRequest" message="tns:validarCodigo"/>
<output wsam:Action="http://servicios/enviaMails/validarCodigoResponse" message="tns:validarCodigoResponse"/>
</operation>
<operation name="recuperarContra">
<input wsam:Action="http://servicios/enviaMails/recuperarContraRequest" message="tns:recuperarContra"/>
<output wsam:Action="http://servicios/enviaMails/recuperarContraResponse" message="tns:recuperarContraResponse"/>
</operation>
<operation name="descifra">
<input wsam:Action="http://servicios/enviaMails/descifraRequest" message="tns:descifra"/>
<output wsam:Action="http://servicios/enviaMails/descifraResponse" message="tns:descifraResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://servicios/enviaMails/descifra/Fault/Exception"/>
</operation>
<operation name="cifra">
<input wsam:Action="http://servicios/enviaMails/cifraRequest" message="tns:cifra"/>
<output wsam:Action="http://servicios/enviaMails/cifraResponse" message="tns:cifraResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://servicios/enviaMails/cifra/Fault/Exception"/>
</operation>
<operation name="validarCuenta">
<input wsam:Action="http://servicios/enviaMails/validarCuentaRequest" message="tns:validarCuenta"/>
<output wsam:Action="http://servicios/enviaMails/validarCuentaResponse" message="tns:validarCuentaResponse"/>
</operation>
</portType>
<binding name="enviaMailsPortBinding" type="tns:enviaMails">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="mandaMAils">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mandaMAil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="baseMail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarCodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="recuperarContra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="descifra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="cifra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="validarCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="mails">
<port name="enviaMailsPort" binding="tns:enviaMailsPortBinding">
<soap:address location="http://localhost:8080/serviciosWebPoliAsistencia/mails"/>
</port>
</service>
</definitions>