poliAsistenciaWeb/src/conf/xml-resources/web-service-references/mails/wsdl/localhost_8080/serviciosWebPoliAsistencia/mails.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="mails">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/serviciosWebPoliAsistencia/mails?xsd=1"/>
</xsd:schema>
</types>
<message name="cambia">
<part name="parameters" element="tns:cambia"/>
</message>
<message name="cambiaResponse">
<part name="parameters" element="tns:cambiaResponse"/>
</message>
<message name="confirma">
<part name="parameters" element="tns:confirma"/>
</message>
<message name="confirmaResponse">
<part name="parameters" element="tns:confirmaResponse"/>
</message>
<message name="mandaMAil">
<part name="parameters" element="tns:mandaMAil"/>
</message>
<message name="mandaMAilResponse">
<part name="parameters" element="tns:mandaMAilResponse"/>
</message>
<message name="validaCuenta">
<part name="parameters" element="tns:validaCuenta"/>
</message>
<message name="validaCuentaResponse">
<part name="parameters" element="tns:validaCuentaResponse"/>
</message>
<message name="baseMail">
<part name="parameters" element="tns:baseMail"/>
</message>
<message name="baseMailResponse">
<part name="parameters" element="tns:baseMailResponse"/>
</message>
<message name="recuperaContra">
<part name="parameters" element="tns:recuperaContra"/>
</message>
<message name="recuperaContraResponse">
<part name="parameters" element="tns:recuperaContraResponse"/>
</message>
<message name="mandaMAils">
<part name="parameters" element="tns:mandaMAils"/>
</message>
<message name="mandaMAilsResponse">
<part name="parameters" element="tns:mandaMAilsResponse"/>
</message>
<portType name="enviaMails">
<operation name="cambia">
<input wsam:Action="http://servicios/enviaMails/cambiaRequest" message="tns:cambia"/>
<output wsam:Action="http://servicios/enviaMails/cambiaResponse" message="tns:cambiaResponse"/>
</operation>
<operation name="confirma">
<input wsam:Action="http://servicios/enviaMails/confirmaRequest" message="tns:confirma"/>
<output wsam:Action="http://servicios/enviaMails/confirmaResponse" message="tns:confirmaResponse"/>
</operation>
<operation name="mandaMAil">
<input wsam:Action="http://servicios/enviaMails/mandaMAilRequest" message="tns:mandaMAil"/>
<output wsam:Action="http://servicios/enviaMails/mandaMAilResponse" message="tns:mandaMAilResponse"/>
</operation>
<operation name="validaCuenta">
<input wsam:Action="http://servicios/enviaMails/validaCuentaRequest" message="tns:validaCuenta"/>
<output wsam:Action="http://servicios/enviaMails/validaCuentaResponse" message="tns:validaCuentaResponse"/>
</operation>
<operation name="baseMail">
<input wsam:Action="http://servicios/enviaMails/baseMailRequest" message="tns:baseMail"/>
<output wsam:Action="http://servicios/enviaMails/baseMailResponse" message="tns:baseMailResponse"/>
</operation>
<operation name="recuperaContra">
<input wsam:Action="http://servicios/enviaMails/recuperaContraRequest" message="tns:recuperaContra"/>
<output wsam:Action="http://servicios/enviaMails/recuperaContraResponse" message="tns:recuperaContraResponse"/>
</operation>
<operation name="mandaMAils">
<input wsam:Action="http://servicios/enviaMails/mandaMAilsRequest" message="tns:mandaMAils"/>
<output wsam:Action="http://servicios/enviaMails/mandaMAilsResponse" message="tns:mandaMAilsResponse"/>
</operation>
</portType>
<binding name="enviaMailsPortBinding" type="tns:enviaMails">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cambia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mandaMAil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validaCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="baseMail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="recuperaContra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mandaMAils">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="mails">
<port name="enviaMailsPort" binding="tns:enviaMailsPortBinding">
<soap:address location="http://localhost:8080/serviciosWebPoliAsistencia/mails"/>
</port>
</service>
</definitions>